@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red: #E31837;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #222222;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: white;
    box-shadow: 0px 20px 3px -20px #111;
}

/* SIDE BAR MENU */

.menu-toggle {
    display: none;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 50px;
    left: 25px;
    z-index: 100;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: var(--red);
    margin: 4px 0;
    transition: 0.3s;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -600px;
    width: 600px;
    height: 100%;
    background-color: var(--white);
    padding-top: 150px;
    transition: 0.3s;
}

.sidebar ul {
    list-style: none;
    padding: 20px;
}

.sidebar ul li a {
    color: var(--black);
    text-decoration: none;
    padding: 20px 50px;
    display: block;
    font-size: 100%;
}

.menu-toggle:checked + .hamburger + .sidebar {
    left: 0;
}

.jollie-globe p{
    background-color: var(--red);
    width: 100%;
    position: relative;
    top: 20;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    font-size: 130%;
}

li .arrow-right {
    position: absolute;
    right: 0;
    padding-right: 50px;
    font-size: 30px;
    color: var(--red);
}

li .jolli-merchs {
    font-size: 24px;
    color: black;
    margin: 0px 0px 0px 10px;
}
/* END */

.jollibee-container {
    position: relative;
}

.first-header {
    background-color: var(--red);
    display: flex;
    justify-content: space-between;
    height: 35px;
    padding-inline: 13%;
    padding-top: 5px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding-left: 40px;
}

.jollie-center {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 40%;

    a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
}

.second-header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 10px;
    padding-inline: 10px;
}

.start-order {
    background-color: var(--red);
    height: 55px;
    width: 200px;
    max-width: 100%;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    font-family: "Poppins",sans-serif;
    font-size: 1rem;
    color: white    ;
}

.section-jollibee {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap: 50px;
    padding-left: 200px;
    padding-bottom: 60px;
}

.section-jollibee .burger-left {
    display: flex;
}

.burger-right h3{
    font-size: 3rem;
    width: 70%;
    line-height: 50px;
    padding-bottom: 20px;
    color: var(--gray);
}

.p-chicken h4 {
    font-size: 1.5rem;
    font-weight: 600;
    width: 60%;
    line-height: 30px;
    padding-bottom: 20px;
    color: var(--gray);
}

.burgah p {
    font-weight: 600;
    color: var(--gray);
}

.order {
    position: absolute;
    background-color: var(--red);
    color: var(--white);
    margin-top: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    padding-top: 6px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    max-width: 100%;
}

.first-header .globe-icon {
    position: relative;
    right: 5px;
    top: 2px;
}

.jollie-center .arrow-down {
    position: relative;
    left: 5px;
    top: 3px;
    color: var(--red);
}

.jollie-center .jolli-merch {
    position: relative;
    color: var(--red);
    left: 10px;
    font-size: 20px;
    top: 5px;
}

/* MERCH JOLLIBEE */

.jollibee-merch {
    background-color: rgba(95, 158, 160, 0.178);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.merch-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.right-merch-container {
    display: inline-block;
    width: 50%;
    background-color: green;
    width: 30vw;
    height: 80vh;
}

.right-merch-container img:nth-child(1) {
    border: white 5px solid;
    transform: rotate(-14deg);
    height: 250px;
}
.right-merch-container img:nth-child(2) {
    position: absolute;
    border: white 5px solid;
    transform: rotate(-15deg);
    height: 250px;
}
.right-merch-container img:nth-child(3) {
    border: white 5px solid;
    transform: rotate(20deg);
    height: 250px;
}